*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;

}

a,
a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p+p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

section{
    padding-top: 150px;
}

img,
svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}



.body {
    font-size: 15 px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}


.header {
    padding-top: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;

}

.header-container {
    width: 1350px!important;
}

.container {
    width: 1020px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: 'Jomhuria', cursive;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 8px;
}

.menu-item{
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

.menu-items1:hover {
    color:aqua;
    
}
.menu-items:hover {
    color:aqua;
    
}

.menu-items:not(:last-child){
    margin-right: 100px;
}

.menu-items{
    color: #fff;
    font-size: 15px;
    
}



.header-png {
    display: flex;
    align-items: center;
}

.header-png>*+* {
    margin-left: 35px;
}

.home {
  position: relative;

}

.home-content {
    margin: 0 auto;
    max-width: 707px;
    position: relative;
    z-index: 2;
    padding-top: 167px;
    padding-bottom: 230px;
   

}

.home-heading {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 63px;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
}

.btn {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

.btn-home {
    background-color: #FFC6CD;
    padding: 18px 37px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #000000;
}

.btn a:hover {
    background-color: red;

}

.home-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.about-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.05em;
    font-style: normal;
    
}

.about {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    

}


.about-right {
    width: 380px;
    height: 265px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color:#000;

}

.catalog-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.05em;
    font-style: normal;
    
    padding-bottom: 50px;
}


.catalog {
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    
}



.catalog-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 26px;
    padding-bottom: 26px;
  
    
}
.catalog-text-p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 26px;
    padding-bottom: 26px;
    
}

.btn-catalog {
    background-color:#FFC6CD;
    padding: 11px 51px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 30px;
}

.btn-catalog:hover {
    color:aqua;
    background-color:bisque;
}


.feedback-title {
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #000000;
}

.feedback-form {
  display: flex;
  justify-content: center;
  position: relative;
  
}

.feedback-input {
    border: 1px solid #FFC6CD;
    width: 500px;
    height: 74px;
    color: #A1A1A1;
    font-family: 'Raleway';
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #A1A1A1; 
    margin-bottom: 100px;
    padding-left: 27px;
}

.btn-feedback {
   position: absolute;
  top: 30px;
  right: 300px;

    
}

.footer {
    background-color:#000;
    
    
}

    
.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: 'Jomhuria', cursive;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 8px;
    padding-top: 50px;
}

.footer-items-list {
    padding-left: 114px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
}


.footer-item {
    color:#fff;
    padding-top: 20px;
}

.footer-item:hover {
    color:aqua;
}

.footer-right {
    display: flex;
    padding-top: 100px;
    padding-right: 100px;
    color: #fff;
    position: relative;

}

.footer-arrow {
    position: absolute;
    top: 192px;
}


.footer-contacts {
    padding-left: 85px;
    text-align: right;

}

.footer-container{
    width: 1115px!important;
}

.number {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.05em;
}


.mail {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
    margin-top: 17px;
    margin-bottom: 17px;
}

.btn-footer {
    padding: 12px 30px;
    border: 1px solid #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

.btn-footer:hover {
    color:aqua;
    background-color:bisque;
}


@media (max-width: 1200px) {
    .container{
        width: 900px!important;
    }
}


@media (max-width: 992px) {
    .container {
        width: 500px!important;
    }

    .header-row {
        flex-direction: column;
    }

    .header-png {
        display: none;
    }

    .home-heading {
        font-size: 35px;
    }

    .about {
        flex-direction: column;
    }

    .about-right {
        padding-top: 50px;
    }

    .catalog {
        flex-direction: column;
    }
    
    .catalog-left {
        padding-bottom: 30px;
    }

    .catalog-left:last-child {
        padding-bottom: 0;
    }

    .btn-feedback {
        right: 100px;
    }

    .footer-items-list {
        display: none;
    }
   
    .number {
        font-size: 10px;
    }

    .footer-arrow {
        display: none;
    }

    .btn-footer {
        padding: 5px;
    }
   
}

@media (max-width:486px) {
    section {
        padding-top: 100px;
    }

    .container {
        width: 300px!important;
    }

    .header {
        padding-top: 20px;
    }

    .header-nav {
        display: none;
    }

    .home-content {
        padding-top: 0;
        padding-bottom: 70px;
    }

    .home-heading {
        line-height: 20px;
        font-size: 20px;
    }

    .btn-home {
        padding: 10px;
    }

    .about-right {
        width: auto;
    }

    .catalog-title {
        padding-top: 30px;
    }

    .btn-feedback {
        right: 30px;
    }

    .about-title {
        font-size: 20px;
    }

    .catalog-title {
        font-size: 20px;
    }

    .catalog-text {
        font-size: 18px;
    }

    .feedback-title {
        font-size: 20px;
    }

    .footer-row {
        display: block;
    }

    .footer-left {
        justify-content: center;
        padding: 0;
    }

    .footer-right {
        padding-top: 30px;
    }

    .footer-contacts {
        padding-left: 50px;
        padding-bottom: 50px;
        
        
    }

   

}




    
    





        
          
    

        
    
 
      
        
