*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;

}

a,
a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p+p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

section{
    padding-top: 150px;
}

img,
svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}



.body {
    font-size: 15 px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}


.header {
    padding-top: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;

}

.container {
    /* background-color:blueviolet; */
    width: 1350px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: 'Jomhuria', cursive;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 8px;
}

.menu-item{
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

.menu-items1:hover {
    color:aqua;
    
}
.menu-items:hover {
    color:aqua;
    
}

.menu-items:not(:last-child){
    margin-right: 100px;
}

.menu-items{
    color: #fff;
    font-size: 15px;
    
}

.menu-items1 {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
    padding-right: 115px;
}


.header-png {
    display: flex;
    align-items: center;
}

.header-png>*+* {
    margin-left: 35px;
}

.home {
  position: relative;

}

.home-content {
    margin: 0 auto;
    max-width: 707px;
    position: relative;
    z-index: 2;
    padding-top: 167px;
    padding-bottom: 230px;
   

}

.home-heading {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 63px;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
}

.btn {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}

.btn-home {
    background-color: #FFC6CD;
    padding: 18px 37px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #000000;
}

.btn a:hover {
    background-color: red;

}

.home-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.about-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.05em;
    font-style: normal;
    margin-left: 236px;
}

.about {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-left: 236px;

}


.about-right {
    width: 380px;
    height: 265px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color:#000;

}

.catalog-title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.05em;
    font-style: normal;
    margin-left: 236px;
    padding-bottom: 50px;
}


.catalog {
    display: flex;
    justify-content: space-between;
    margin-left: 236px;
}

.catalog-left {
    width: 327px;
}


.catalog-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 327px;
    padding-left: 60px;
}
.catalog-text-p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 327px;
    padding-left: 100px;
}

.btn-catalog {
    background-color:#FFC6CD;
    padding: 11px 51px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 30px;
}

.btn-catalog:hover {
    color:aqua;
    background-color:bisque;
}


.feedback-title {
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #000000;
}

.feedback-form {
    display: flex;
    justify-content: center;
    width: 540px;
    height: 74px;
    left: 530px;
    top: 215px;
    border: 2px solid #FFC6CD;
   margin-left: 400px;
   margin-bottom: 100px; 
}

.feedback-input {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #A1A1A1;
}

.btn-feedback {
    padding-top: 25px;
    padding-left: 150px;
    
}

.footer {
    background-color:#000;
    
    
}

.footer-container {
    max-width: 1355px;
    
}
    
.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: 'Jomhuria', cursive;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 8px;
    padding-left: 245px;
    padding-top: 50px;
}

.footer-items-list {
    padding-left: 114px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

li + li {
    padding-top: 20px;
}

.footer-item {
    color:#fff;
}

.footer-item:hover {
    color:aqua;
}

.footer-right {
    display: flex;
    padding-top: 100px;
    padding-right: 100px;
    color: #fff;

}

.footer-arrow {
    padding-top: 92px;
}


.footer-contacts {
    padding-left: 85px;
    text-align: right;

}

.number {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.05em;
}


.mail {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
    margin-top: 17px;
    margin-bottom: 17px;
}

.btn-footer {
    padding: 12px 30px;
    border: 1px solid #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.05em;
}

.btn-footer:hover {
    color:aqua;
    background-color:bisque;
}

@media (max-width: 1930px) {
    .main {
        min-width: 1800px;
    }
}

@media (max-width: 1200px) {
    .about-title {
        margin-left: 0;
        text-align: center;
    }

    .about {
        margin-left: 0;
        width: 1000px;
    }

    .about-right {
        padding-top: 50px;
    }

    .catalog-title {
        margin-left: 0;
        text-align: center;
    }

    .catalog {
        margin-left: 0;
        width: 1000px;
    }

    .footer-logo {
        padding-left: 0;
    }

    .footer-contacts {
        margin-right: 200px;
    }
}

@media (max-width: 460px) {
    .header-png {
        display: none;
    }

    .menu-item {
        margin-right: 400px;
    }

    .home-content {
        margin-left: 150px;
    }

    .container-feedback {
        display: none;
    }

    .footer-right {
        padding-right: 300px;
    }
}

@media (max-width: 400px) {
    .about-title {
        text-align: start;
    }

    .about {
        display: block;
    }

    .catalog {
        display: block;
    }

    .btn-catalog {
        margin-bottom: 20px;
    }

    .catalog-title {
        text-align: start;
    }
}

@media (max-width: 350px) {
    .home-content {
        margin-left: 0;
    }
    .footer-container {
        margin-left: 0;
    }
}




    





        
          
    

        
    
 
      
        
